@using Blogging.Entities
@model List<BlogPost>
@{
    ViewData["Title"] = "Home Page";
    ViewData["HasFooter"] = true;
    ViewData["CompactMode"] = true;
    //List<Contest> near = ViewBag.Nearest;
    //List<JudgeWeb.Domains.Identity.RatingModel> ratings = ViewBag.Ratings;
    var provider = System.Globalization.CultureInfo.GetCultureInfo(1033);
}

@section Banner {

    <style type="text/css">
        .jumbotron {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }

        .highlight {
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #f8f9fa;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        @@media (min-width: 576px) {
            .highlight {
                padding: 1.5rem;
            }
        }

        .highlight pre {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            background-color: transparent;
            border: 0;
        }

            .highlight pre code {
                font-size: inherit;
                color: #212529;
            }

        .bd-footer {
            font-size: 85%;
            text-align: center;
            background-color: #f7f7f7;
        }

            .bd-footer a {
                font-weight: 500;
                color: #495057;
            }

                .bd-footer a:hover, .bd-footer a:focus {
                    color: #007bff;
                }

            .bd-footer p {
                margin-bottom: 0;
            }

        .bd-footer-links {
            padding-left: 0;
            margin-bottom: 1rem;
        }

            .bd-footer-links li {
                display: inline-block;
            }

                .bd-footer-links li + li {
                    margin-left: 1rem;
                }

        @@media all and (min-width:768px) {
            .bd-footer {
                text-align: left;
            }
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>
                Namomo is a non-profitable community initiated by Chinese programming contest volunteers.
                <br />
                Our target is to share the best programming knowledge & problems with students.
            </p>
            <p><a class="btn btn-primary btn-lg" role="button" asp-action="About">Learn more »</a></p>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!--<div class="alert alert-warning">Test round is running!</div>-->
            <partial name="BlogList" model="@Model" />
            <p class="mb-4 text-right"><a asp-action="List" asp-controller="Blog">View more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            @*foreach (var ctx in near)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-3">@ctx.Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @if (ctx.RatingAtMost == 9999 && ctx.RatingAtLeast == -9999)
                            {
                                @:Rated for Everyone
                            }
                            else if (ctx.RatingAtMost <= ctx.RatingAtLeast)
                            {
                                @:Not Rated
                            }
                            else if (ctx.RatingAtLeast == 1900)
                            {
                                @:Rated for Div.1
                            }
                            else if (ctx.RatingAtMost == 2099)
                            {
                                @:Rated for Div.2
                            }
                            else if (ctx.RatingAtLeast == 1899)
                            {
                                @:Rated for Div.2
                            }
                            else if (ctx.RatingAtMost == 1599)
                            {
                                @:Rated for Div.3
                            }
                            else
                            {
                                @:Rated between [@ctx.RatingAtLeast,@ctx.RatingAtMost]
                            }
                        </h6>
                        <p class="card-text">
                            Start at @ctx.StartTime.Value.ToString("ddd, dd MMM yyyy HH:mm:ss CST", provider)
                        </p>
                        <a asp-action="Home" asp-controller="Gym" asp-area="Contest" asp-route-cid="@ctx.ContestId" class="card-link"><i class="fas fa-link"></i> View</a>
                        <a asp-action="Register" asp-controller="Gym" asp-area="Contest" asp-route-cid="@ctx.ContestId" class="card-link"><i class="fas fa-rocket"></i> Register</a>
                    </div>
                </div>
            }*@
            <h2>Top rated <a class="text-decoration-none text-reset" asp-action="Ratings">&raquo;</a></h2>
            <table class="data-table text-center table table-hover table-striped table-sm" role="grid">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">user</th>
                        <th scope="col">rating</th>
                    </tr>
                </thead>
                <tbody>
                    @*foreach (var (user, id) in ratings.Select((i, j) => (i, j + 1)))
                    {
                        <tr>
                            <td>@id</td>
                            <td><user username="@user.UserName" explicit-rating="@user.Rating" /></td>
                            <td>@user.Rating</td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@section BannerFooter {
    <!-- #footer start -->
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links">
                <li><a asp-area="Misc" asp-controller="Home" asp-action="About">About</a></li>
                <li><a href="http://www.beian.miit.gov.cn/" rel="external nofollow">浙ICP备xxxxxxxx号-1</a></li>
            </ul>
            <p>Version @(ViewData["CompileVersion"]) on <a href="//dotnet.microsoft.com/" rel="nofollow">.NET Core 3.1</a>.</p>
            <p>Hosted on <a href="//www.aliyun.com/" rel="nofollow">Aliyun Elastic Compute Service</a>.</p>
        </div>
    </footer>
    <!-- #footer end -->
}